.wpcf7-form{
    max-width: 650px;
    p{
        margin-bottom: $gap-tight;
        br{
            display: none;
        }
        &.small{
            @include text-tiny;
            max-width: 400px;
        }
    }
    input, textarea{
        width: 100%;
    }
    input[type='submit']{
        width: auto;
        @include button;
    }
    .label{
        display: block;
        &__label{
            display: block;
            padding: .5em 0;
        }
    }
    .wpcf7-list-item{
        margin: 0;
        padding: 0;
        display: block;
        label{
            display: flex;
            width: 100%;
            margin: 0;
            padding: 0;
            align-items: center;
        }
        input{
            display: block;
            width: auto;
        }
        span{
            display: block;
            flex-grow: 1;
            margin-left: .5em;
            font-size: .9em;
            padding: .2em;
        }
    }
    .mc4wp_checkbox{
        display: flex;
        align-items: center;
        gap: .5em;
        input{
            width: auto;
        }
    }
}