// Breakpoints
$breakpoints: (
  700: 700px,
  phone-small: 380px,
  phone: 560px,
  tablet: 700px,
  tablet-big: 782px,
  medium: 850px,
  wide: 1100px,
  sitewidth: $sitewidth,
  sitewidthplus: calc(#{$sitewidth} + 64px)
);
$breakpoints--h: (
    letterbox: 900px
);

// breakpoint mixins
@mixin break($breakpoint: medium) {
  @if map-has-key($breakpoints, $breakpoint) {
      @media screen and (min-width: map-get($breakpoints, $breakpoint)) {
          @content;
      }
  }
}

@mixin break-under($breakpoint: medium) {
  @if map-has-key($breakpoints, $breakpoint) {
    @media screen and (max-width: map-get($breakpoints, $breakpoint)) {
        @content;
    }
  }
}

@mixin break-between($breakpoint-lower, $breakpoint-higher){
  @media screen and (min-width: map-get($breakpoints, $breakpoint-lower)) and (max-width: map-get($breakpoints, $breakpoint-higher)) {
    @content;
  }
}

// height 
@mixin break--h($breakpoint) {
  @if map-has-key($breakpoints--h, $breakpoint) {
      @media screen and (max-height: map-get($breakpoints--h, $breakpoint)) and (orientation: landscape) {
          @content;
      }
  }
}